*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: #1c1d1c;
	font-family: "Montserrat", sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100%;
}

a {
	text-decoration: none;
}

button {
	font: inherit;
	color: inherit;
}

img {
	max-width: 100%;
}

[hidden] {
	display: none !important;
}

.page-header {
	padding-top: 20px;
	padding-bottom: 44px;
	text-align: center;
}

.page-wrapper {
	position: relative;
}

.page-main {
	max-width: 70vw;
	padding-left: 20px;
	padding-right: 20px;
}

/* * SORTING */

.sorting {
	/* padding-top: 100px; */
	padding-bottom: 20px;

	display: flex;
	align-items: center;
	column-gap: 20px;
}

.sorting__title {
	padding: 10px 24px;
	color: #f8e327;
	font-size: 18px;
	line-height: normal;
	text-transform: uppercase;
}

.sorting__btn {
	padding: 10px 24px;
	color: #f8e327;
	font-size: 18px;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 8px;
	background-color: transparent;
	border: 1px solid #f8e327;
	cursor: pointer;
}

.sorting__btn--active {
	background-color: #f8e327;
	color: #1c1d1c;
	font-weight: 700;
}

/* * TRAINERS */

.trainers-cards__container {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.trainer {
	position: relative;
	padding: 40px 20px;
	border-radius: 16px;
	overflow: hidden;
	height: 400px;

	display: flex;
	flex-direction: column;
}

.trainer::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-image: linear-gradient(to top, #000 20%, rgba(0, 0, 0, 0) 100%);
	z-index: -1;
}

.trainer__img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
	object-fit: cover;
	object-position: top center;
}

.trainer__name {
	margin-top: auto;
	margin-bottom: 20px;
	padding-bottom: 15px;
	position: relative;

	color: #fff;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
}

.trainer__name::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fffffb;
	width: 117px;
	height: 1px;
}

.trainer__show-more {
	width: max-content;
	margin-left: auto;
	margin-right: auto;

	padding: 10px 24px;
	border-radius: 8px;
	border: 1px solid #1c1d1c;
	background-color: #f8e327;
	cursor: pointer;
	display: none;
}

.trainer:hover .trainer__show-more {
	display: block;
}

/* * MODAL */

.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 3;
	display: flex;
}

.modal__body {
	margin: auto;
	max-width: 60vw;
	padding: 40px;
	background-color: #1c1d1c;
	border-radius: 16px;
	z-index: 3;

	display: grid;
	grid-template-columns: 280px 1fr;
	column-gap: 40px;

	position: relative;
}

.modal__close {
	position: absolute;
	right: 20px;
	top: 20px;
	border: 2px solid #f8e327;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	display: flex;
	cursor: pointer;
}

.modal__close svg {
	margin: auto;
	fill: #f8e327;
}

.modal__img {
	object-fit: cover;
	object-position: top center;
}

.modal__name {
	margin-top: 0;
	margin-bottom: 20px;
	position: relative;

	color: #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: normal;
}

.modal__point {
	margin-top: 0;
	margin-bottom: 0;

	color: rgba(255, 255, 255, 0.75);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}

.modal__description {
	margin-top: 30px;
	margin-bottom: 0;

	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
}

/* * FILTERS */



.sidebar {
	position: absolute;
	right: 0;
	top: 60px;
	width: 25vw;
	padding: 40px;
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
	background-color: #f8e327;
}

.filters__legend {
	color: #1c1d1c;
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	text-decoration: underline;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.filters__fieldset {
	display: grid;
	row-gap: 16px;
	border: none;
}

.filters__fieldset:not(:last-of-type) {
	margin-bottom: 40px;
}

.filters__input {
	display: block;
}

.filters__label {
	position: relative;
	padding-left: 20px;
	background-image: url(../img/ellipse.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 14px 14px;
	cursor: pointer;

	font-size: 18px;
	text-transform: uppercase;
}

.filters__input:checked + .filters__label {
	background-image: url(../img/ellipse-checked.png);
}

.filters__submit {
	width: max-content;
	padding: 16px 32px;
	margin-top: 40px;
	margin-left: 20px;

	border-radius: 8px;
	border: 1px solid #1c1d1c;
	background-color: transparent;

	color: #1c1d1c;
	font-size: 20px;
	line-height: normal;
	cursor: pointer;
}

.filters__submit:hover {
	border: 1px solid #1c1d1c;
	background-color: #1c1d1c;
	color: #f8e327;
}

/* * FOOTER */

.page__footer {
	padding-top: 20px;
	padding-bottom: 20px;
}

.copyright {
	color: #fff;
	text-align: center;
	margin: 0;
}




/* preloader */
*,
*:after,
*:before {
	box-sizing: border-box;
	transform-style: preserve-3d;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	font-family:  'Google Sans', sans-serif, system-ui;
}

:root {
	--size: 120;
	--coefficient: 1px;
	--timeline: 2.6s;
	--delay: 0.65s;
  --rotation-y: -24;
  --rotation-x: 28;
  --color-one: #3a0ca3;
  --color-two: #4361ee;
  --color-three: #4cc9f0;
}

.scene {
  position: relative;
  transform: translate3d(0, 0, 100vmin) rotateX(calc(var(--rotation-y, 0) * 1deg)) rotateY(calc(var(--rotation-x, 0) * 1deg)) rotateX(0deg);
}

/*  */

@keyframes scale {
  0%, 10% {
    transform: scaleX(1) scaleY(1);
  }
	35%, 100% {
		transform: scaleX(0.5) scaleY(0.5);
	}
}

.shadow {
	width: calc(var(--size) * var(--coefficient));
	position: absolute;
	bottom: 0;
	aspect-ratio: 1;
	transform-origin: 50% 50%;
	background: hsl(210 80% 50% / 0.2);
	transform: rotateX(90deg) translate3d(0, 0, calc((var(--size) * (var(--coefficient) * -0.5)) - 1px)) scale(0.96);
	animation: squish-squosh var(--timeline) var(--delay) infinite, fade var(--timeline) var(--delay) infinite;
	background: black;
}

.loader {
	--depth: var(--size);
	--color: var(--color-one, #8338EC);
	width: calc(var(--depth) * var(--coefficient));
	aspect-ratio: 1;
	transform-origin: 50% 50%;
	animation: squish-squosh var(--timeline) var(--delay) infinite;
}

.spinner {
	animation: spin var(--timeline) var(--delay) infinite;
}

.jumper {
	animation: jump var(--timeline) var(--delay) infinite;
}

@keyframes squish-squosh {
	0%, 50%, 60% {
		scale:  1 1 1;
	}
	10%, 35% {
		scale: 1.2 0.8 1.2;
	}
	25% {
		scale: 0.8 1.2 0.8;
	}
	70% {
		scale: 1 1 2;
	}
	80% {
		scale: 2 1 2;
	}
	90%, 100% {
		scale: 2 2 2;
	}
}


@keyframes fade {
	0%, 10%, 40%, 50%, 60%, 100% {
		opacity: 1;
	}
	25% {
		opacity: 0.5;
	}
}

@keyframes spin {
	0%, 10% { rotate: 0deg; }
	30%, 100% { rotate: -360deg; }
}
@keyframes jump {
	0%, 10%, 35%, 50% {
		translate: 0 0;
	}
	25% {
		translate: 0 -150%;
	}
}

/* Cuboid boilerplate code */
.cuboid {
  width: 100%;
  height: 100%;
  position: relative;
}
.cuboid__side {
  background: var(--color);
  position: absolute;
}
.cuboid__side:nth-of-type(1) {
  --b: 1.1;
  height: calc(var(--depth, 20) * var(--coefficient));
  width: 100%;
  top: 0;
  transform: translate(0, -50%) rotateX(90deg);
}
.cuboid__side:nth-of-type(2) {
  --b: 0.9;
  --color: var(--color-three, #FF006E);
  height: 100%;
  width: calc(var(--depth, 20) * var(--coefficient));
  top: 50%;
  right: 0;
  transform: translate(50%, -50%) rotateY(90deg);
}
.cuboid__side:nth-of-type(3) {
  --b: 1;
  width: 100%;
  height: calc(var(--depth, 20) * var(--coefficient));
  bottom: 0;
  transform: translate(0%, 50%) rotateX(90deg);
}
.cuboid__side:nth-of-type(4) {
  --b: 1;
  --color: var(--color-three, #FF006E);
  height: 100%;
  width: calc(var(--depth, 20) * var(--coefficient));
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
}
.cuboid__side:nth-of-type(5) {
  --b: 1;
  --color: var(--color-two, #3A86EF);
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, calc(var(--depth, 20) * (var(--coefficient) * 0.5)));
  top: 0;
  left: 0;
}
.cuboid__side:nth-of-type(6) {
  --b: 1.2;
  height: 100%;
  width: 100%;
  transform: translate3d(0, 0, calc(var(--depth, 20) * (var(--coefficient) * -0.5))) rotateY(180deg);
  top: 0;
  left: 0;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
}